<ion-header>
  <ion-toolbar>
    <ion-title>ionic post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="saveData()"> save data </ion-button>
<ion-label>{{dataFromService}}</ion-label>
</ion-content>
