<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- a qui estoy interpolando los datos para que me los muestre en pantalla okay -->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios" >
      
<h1>{{usuario.id}} - {{usuario.nombre}}  - {{usuario.email}} - {{usuario.password}} </h1>

    </ion-item>
  </ion-list>
</ion-content>
  
